@addTagHelper * ,Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper * ,OrnekMVC_1

<a href="mailto:gyildizmail@gmail.com">Email</a>

<email a="abc" mail="gyildizmail@gmail.com" display="Gençay Yildiz Mail'i'"></email>



