<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <!--'et' sembolü razor operatörüdür.ccshtml içerisinde C# kodlarını yazmamızı sağlayan bir teknoloji.-->
    @{
        for (int i = 0; i < 100; i++)
        {
            
        }
    }
</body>

</html>
